@media only screen and (max-width: 992px) {


/* Text styles */

h1 {
  font-size: var(--text-xl);
}

.subheader {
    font-size: var(--text-m);
}

.project-list h3 {
    font-size: var(--text-m);
}

/* Header ---------------------------------------------- */

header {
  justify-content: left;
  padding: var(--padding-s) var(--padding-m);
}

/* HERO -------------------------------------------------  */

.hero {
  padding: var(--padding-m);
}

/* MAIN BODY CONTENT ------------------------------------  */

.body-content {
  padding: var(--padding-m);
  
}

/* Project list ----------------------------------------- */

 .project-list {
  gap: 2rem;
}

/* cards  ----------------------------------------------- */

  .horizontal-card {
  flex-direction: column;
}

.horizontal-card img { 
  width: 100%;
  object-fit: cover;
}

.card-container {
  padding: 1.5rem;
  display:flex;
  width:100%;
  flex-direction: column;
  justify-content: space-between;
}

.about-card {
  background-color: var(--20-darken);
  border-radius: var(--border-radius-m);
  padding: var(--padding-m);
  margin-bottom: var(--padding-l);
}






}
