:root {

    --text-xxl: 4rem; 
    --text-xl: 3rem; 
    --text-l: 2rem; 
    --text-m: 1.5rem;
    --text-s: 1.125rem;
    --text-xs: 1rem;
    --text-xxs: 0.8rem;

  --plum-50: #FFF3FB;
  --plum-100: #E8DDE4;
  --plum-200: #D4C9D0;
  --plum-300: #B6ABB2;
  --plum-400: #A2979E;
  --plum-500: #8E838A;
  --plum-600: #796E75;
  --plum-700: #655A61;
  --plum-800: #574C53;
  --plum-900: #453C42;
  --plum-950: #2B2529;
  --plum-1000: #221B20;

  --peach-50: #FFF8F8;
  --peach-100: #FFDCDC;
  --peach-200: #FFC1C1;
  --peach-300: #FFA6A6;
  --peach-400: #E68B8B;
  --peach-500: #CB7070;
  --peach-600: #AF6060;
  --peach-700: #854242;
  --peach-800: #6B2C2C;
  --peach-900: #4F1A1A;
  --peach-950: #331111;

  --peachplum: #3C2F33;
  
  --lilac-50: #FDF2F9;
  --lilac-100: #DCD6E5;
  --lilac-200: #BAAECC;

  --10-darken: rgba(0, 0, 0, 0.1);
  --20-darken: rgba(0, 0, 0, 0.2);
  --40-darken: rgba(0, 0, 0, 0.4);
  --60-darken: rgba(0, 0, 0, 0.6);
  --20-lighten: rgba(255, 171, 171, 0.2);


  --main-bg-color: var(--plum-1000);
  --primary-text-color: var(--lilac-100);
  --secondary-text-color: var(--lilac-200);
  --colorful-text-color: var(--peach-200);
  --interactive-text-color: var(--peach-300);
  --menu-bg: #171416;
  --hero-bg: #171416;
  --footer-bg: #171416;

  --border-radius-m: 16px; 
  --border-radius-l: 28px; 

  --padding-xs: 0.5rem;
  --padding-s: 1rem;
  --padding-m: 1.5rem;
  --padding-l: 2rem;
   --padding-xl: 3rem;
  --padding-xxl: 4rem;

  --content-maxwidth: 1200px;
}