

/* Basic Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Figtree", sans-serif;
  line-height: 1.6;
  background: var(--main-bg-color);
  color: var(--primary-text-color);
}

#flourish {
  Background: #4E756C;
}

img {
  max-width: 100%;
}

.padded-img {
  margin: 40px 0px;
}

.centered-text {
  text-align: center;
}

/* Skip link (visible on focus) ------------------------------- */

.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  background: var(--10-darken);
  color: var(--interactive-text-color);
  padding: 10px;
  z-index: 100;
  border-radius: 40px;
  text-decoration: none;
}

.skip-link:focus {
  top: 15px;
  left: 15px;
  text-decoration: none;
}

/* Header ---------------------------------------------------- */

header {
  position:fixed;
  width: 100vw;
  justify-content: left;
  padding: 20px 2rem;
  background-color: var(--menu-bg);
}

.header-container {
  text-align: left;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  max-width: var(--content-maxwidth);
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* HERO ------------------------------------------------------  */

.hero {
  width: 100vw;
  padding:4rem;
  background-color: var(--hero-bg);
}

.hero section {
  max-width: var(--content-maxwidth);
  margin: 4rem auto;
}

.breadcrumb a:hover {
color: #fff;
text-decoration: none;
}

/* MAIN BODY CONTENT ------------------------------------------------------  */

.body-content {
  width: 100vw;
  padding:2rem;
  
}

.body-content section {
  max-width: var(--content-maxwidth);
  margin: 4rem auto;
}

/* Divider ------------------------------------------------------  */

.divider {
  border-top: 1px solid var(--peachplum);
}



section h2 {
  text-align: left;
  text-transform: uppercase;
}

/* ------------------------------------------------------------ */


/* Project list */
 .project-list {
  display: grid;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: stretch;
  list-style: none;
}

/* cards  ----------------------------------------------------- */

.horizontal-card {
  background-color: var(--20-darken);
  border-radius: var(--border-radius-m);
  padding: 0px;
  height: 100%;
  display: flex;
  overflow:hidden;
}

.horizontal-card img { 
  width: 40%;
  object-fit: cover;
}


.about-card {
  background-color: var(--20-darken);
  border-radius: var(--border-radius-m);
  padding: var(--padding-l);
  margin-bottom: var(--padding-l);
}


/* Unused for now, but saving in case of. 
.intro-card {
  background-color: var(--10-darken);
  border-radius: var(--border-radius-m);
  padding: 20px;
  margin-bottom: 32px;
  width: 600px;
  margin:0px;
}
  */


.card-container {
  padding: 32px 64px;
  display:flex;
  width:60%;
  flex-direction: column;
  justify-content: space-between;
}

/* ----------------------------------------------------------------------- */

/* Container holding the chips*/
.badge-container ul {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  justify-content: left;
    padding: 12px 0px;
  
}
/* Chip design and content */
.category-badge {
  background-color: var(--peachplum);
  padding: 6px 16px;
  border-radius: 99px;
  
}





/* Footer ---------------------------------------------------- */
footer {
  text-align: center;
  padding: 3rem;
  font-size: 0.9rem;
  color: var(--secondary-text-color);
  background-color: var(--footer-bg);
}
