

/* Basic styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Figtree", sans-serif;
  font-size: 1em;
  line-height: 1.6;
  background: var(--main-bg-color);
  color: var(--primary-text-color);
}

#flourish {
  Background: #4E756C;
}

img {
  max-width: 100%;
}

.padded-img {
  margin: 40px 0px;
}

.centered-text {
  text-align: center;
}

/* Remove default fieldset styles. */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Text selection -------------------------------------------- */

::-moz-selection {
  background: var(--20-lighten);
  text-shadow: none;
}

::selection {
  background: var(--20-lighten);
  text-shadow: none;
}

/* Skip link (visible on focus) ------------------------------- */

.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  background: var(--10-darken);
  color: var(--interactive-text-color);
  padding: 10px;
  z-index: 100;
  border-radius: 40px;
  text-decoration: none;
}

.skip-link:focus {
  top: 15px;
  left: 15px;
  text-decoration: none;
}

/* Header ---------------------------------------------- */

header {
  position:fixed;
  width: 100vw;
  justify-content: left;
  padding: var(--padding-s) var(--padding-l);
  
  background-color: var(--menu-bg);
}

.header-container {
  text-align: left;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  max-width: var(--content-maxwidth);
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* HERO -----------------------------------------------  */

.hero {
  width: 100vw;
  padding:2rem;
  background-color: var(--hero-bg);
}

.hero section {
  max-width: var(--content-maxwidth);
  margin: 4rem auto;
}

.breadcrumb {
  margin-bottom: 32px;
}

.breadcrumb a:hover {
color: #fff;
text-decoration: none;
}


/* MAIN BODY CONTENT -----------------------------------  */

.body-content {
  width: 100vw;
  padding:2rem;
  
}

.body-content section {
  max-width: var(--content-maxwidth);
  margin: 4rem auto;
}

/* Divider ---------------------------------------------  */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--peachplum);
  margin: 1em 0;
  padding: 0;
}



section h2 {
  text-align: left;
  text-transform: uppercase;
}

/* ------------------------------------------------------ */


/* Project list ----------------------------------------- */
 .project-list {
  display: grid;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: stretch;
  list-style: none;
}

/* cards  ----------------------------------------------- */

.horizontal-card {
  background-color: var(--20-darken);
  border-radius: var(--border-radius-m);
  padding: 0px;
  height: 100%;
  display: flex;
  overflow:hidden;
}

.horizontal-card img { 
  width: 40%;
  object-fit: cover;
}

.card-container {
  padding: 32px 64px;
  display:flex;
  width:60%;
  flex-direction: column;
  justify-content: space-between;
}


.about-card {
  background-color: var(--20-darken);
  border-radius: var(--border-radius-m);
  padding: var(--padding-l);
  margin-bottom: var(--padding-l);
}

/* proccess grids */

.process-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  gap: 1.5rem;

  margin: 0;
  padding: 0;
  list-style: none;
}

.persona-grid {
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 32px;
}

.flow-grid {
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 32px;
}

.process-card,
.persona-card,
.flow-card {

  padding: 1.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--20-darken);
  border-radius: 0.5rem;
  list-style-type: none;
}


.process-card h3,
.persona-card h3,
.flow-card h3 {
  margin: 0 0 1rem;
}

.process-card ul,
.persona-card ul {
  margin: 0;
  padding-left: 1.25rem;
}





/* Unused for now, but saving in case of. 
.intro-card {
  background-color: var(--10-darken);
  border-radius: var(--border-radius-m);
  padding: 20px;
  margin-bottom: 32px;
  width: 600px;
  margin:0px;
}
  */




/* ------------------------------------------------------ */

/* Container holding the chips*/

.badge-container ul {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  justify-content: left;
    padding: 12px 0px;
  
}


/* Chip design and content */

.category-badge {
  background-color: var(--peachplum);
  padding: 6px 16px;
  border-radius: 99px;
  
}


/* Footer ----------------------------------------------- */

footer {
  text-align: center;
  padding: 3rem;
  font-size: 0.9rem;
  color: var(--secondary-text-color);
  background-color: var(--footer-bg);
}

/* Screen reader ---------------------------------------- */

/* Hide visually and from screen readers */

.hidden,
[hidden] {
  display: none !important;
}

/* Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}


/* Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}


/* Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}