:root {
  --main-bg-color: #2B2529;
  --primary-text-color: #DCD6E5;
  --secondary-text-color: #BAAECC;
  --interactive-text-color: #FFAFB4;
  --10-darken: rgba(0, 0, 0, 0.1);
  --border-radius-l: 28px; 
}

/* Basic Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto, sans-serif;
  line-height: 1.6;
  background: var(--main-bg-color);
  color: var(--primary-text-color);
}

/* Skip link (visible on focus) ---------------------------------------------------- */

.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  background: var(--10-darken);
  color: var(--interactive-text-color);
  padding: 10px;
  z-index: 100;
  border-radius: 40px;
  text-decoration: none;
}

.skip-link:focus {
  top: 15px;
  left: 15px;
  text-decoration: none;
}

/* Header ---------------------------------------------------- */

header {
  justify-content: center;
  padding: 40px 2rem;
  background-color: var(--10-darken);
}

.header-container {
  text-align: left;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  max-width: 1200px;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* HERO ----------------------------------------------------  */
#hero-box {
  background-color: var(--10-darken);
}

/* Sections ---------------------------------------------------- */
section {
  max-width: 1200px;
  margin: 2rem auto;
  justify-content: center;
}

.section-container {
  padding:2rem;
}

section h2 {
  text-align: center;
  text-transform: uppercase;
}

/* cards  ---------------------------------------------------- */
 .project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: stretch;
}

.card {
  background-color: var(--10-darken);
  border-radius: var(--border-radius-l);
  padding: 20px;
  height: 100%;
  
}

/* Removes padding from project cards to account for images  ---------------------------------------------------- */

.project-list .card {
  padding: 0;
  
}

.card-container {
  padding: 20px;
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-l) var(--border-radius-l) 0 0;
 
}

.project-list, .about-list {
  list-style: none;
  padding: 0;
}
.project-list li, .about-list li {
  margin-bottom: 1.5rem;
  flex-grow: 1;
  flex-basis: 30%;
  min-width: 300px;
}
.project-list h3, .about-list h3 {
  margin-bottom: 0.5rem;
}
.project-list a, .about-list a {
  display: inline-block;
  margin-top: 0.5rem;
}

/* Form ---------------------------------------------------- */
form {
  display: grid;
  gap: 1rem;
}
label {
  display: block;
  font-weight: bold;
}
input,
textarea,
button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}
button {
  background: #0055aa;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover,
button:focus {
  background: #003d80;
}


/* Footer ---------------------------------------------------- */
footer {
  text-align: center;
  padding: 3rem;
  font-size: 0.9rem;
  color: var(--secondary-text-color);
  background-color: var(--10-darken);
}
