/* Sizing and visual hiearchy ---------------------------------------------------- */

h1 {
    font-size: var(--text-xxl);
    font-weight: 500;
    line-height: 1.2;
    color: var(--secondary-text-color);
    margin-bottom:24px;
}

.subheader {
    font-size: var(--text-l);
    line-height: 1.4;
    color: var(--secondary-text-color);
        margin-bottom: 4rem;
}

h2 {
    font-size: var(--text-l);
    font-weight: 500;
    line-height: 1.2;
    color: var(--colorful-text-color);
    padding-top: var(--padding-m);
    margin-bottom: 2rem;
}

h3 {
    font-size: var(--text-m);
    font-weight: 500;
    line-height: 1.4;
    color: var(--colorful-text-color);
    margin-top: var(--padding-l);
    margin-bottom: var(--padding-m);
}

.project-list h3 {
    font-size: var(--text-l);
    font-weight: 500;
    color: var(--secondary-text-colour);
    margin-top: 0px;
    margin-bottom: 0.5rem;
}

.about-card h3 {
    font-size: var(--text-m);
    margin-top: 0px;
    margin-bottom: var(--padding-m);
}

p {
    font-size: var(--text-s);
    margin-bottom: 2rem;
    color: var(--interactive-text-colour);
}

.secondary {
    font-size: var(--text-xs);
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

/* Links ------------------------------------------------------------------------ */

a {
    font-size: var(--text-s);
      font-weight: 500;

    text-decoration: none;
    color: var(--interactive-text-color);
}
a:hover, a:focus {
    text-decoration: underline;
    color: var(--colorful-text-color);
}

.project-list a {
    display: inline-block;
    margin-top: 0.5rem;
}

.intro{
    font-size: var(--text-s);
}

/* Narrow paragraphs for readability -------------------------- */

.narrow {
    max-width: 800px;
}



/* decreased margin for last p -------------------------------------------------- */

.last {
    margin-bottom: 0px;
}


